FinalStoreWebSite/App_WebReferences/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetColors">
        <s:complexType />
      </s:element>
      <s:element name="GetColorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetColorsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBrands">
        <s:complexType />
      </s:element>
      <s:element name="GetBrandsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBrandsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategorys">
        <s:complexType />
      </s:element>
      <s:element name="GetCategorysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategorysResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="custPrice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="brandID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="colorId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertBrand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brand" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBrandResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertColor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertColorResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProdById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProdByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProdByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetColorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetColors" />
  </wsdl:message>
  <wsdl:message name="GetColorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetColorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBrandsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBrands" />
  </wsdl:message>
  <wsdl:message name="GetBrandsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategorysSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategorys" />
  </wsdl:message>
  <wsdl:message name="GetCategorysSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategorysResponse" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapIn">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapOut">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBrandSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBrand" />
  </wsdl:message>
  <wsdl:message name="InsertBrandSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBrandResponse" />
  </wsdl:message>
  <wsdl:message name="InsertColorSoapIn">
    <wsdl:part name="parameters" element="tns:InsertColor" />
  </wsdl:message>
  <wsdl:message name="InsertColorSoapOut">
    <wsdl:part name="parameters" element="tns:InsertColorResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCategorySoapIn">
    <wsdl:part name="parameters" element="tns:InsertCategory" />
  </wsdl:message>
  <wsdl:message name="InsertCategorySoapOut">
    <wsdl:part name="parameters" element="tns:InsertCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProdByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProdById" />
  </wsdl:message>
  <wsdl:message name="GetProdByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProdByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetColors">
      <wsdl:input message="tns:GetColorsSoapIn" />
      <wsdl:output message="tns:GetColorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBrands">
      <wsdl:input message="tns:GetBrandsSoapIn" />
      <wsdl:output message="tns:GetBrandsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategorys">
      <wsdl:input message="tns:GetCategorysSoapIn" />
      <wsdl:output message="tns:GetCategorysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <wsdl:input message="tns:InsertProductSoapIn" />
      <wsdl:output message="tns:InsertProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBrand">
      <wsdl:input message="tns:InsertBrandSoapIn" />
      <wsdl:output message="tns:InsertBrandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertColor">
      <wsdl:input message="tns:InsertColorSoapIn" />
      <wsdl:output message="tns:InsertColorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCategory">
      <wsdl:input message="tns:InsertCategorySoapIn" />
      <wsdl:output message="tns:InsertCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input message="tns:GetAllProductsSoapIn" />
      <wsdl:output message="tns:GetAllProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProdById">
      <wsdl:input message="tns:GetProdByIdSoapIn" />
      <wsdl:output message="tns:GetProdByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetColors">
      <soap:operation soapAction="http://tempuri.org/GetColors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrands">
      <soap:operation soapAction="http://tempuri.org/GetBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategorys">
      <soap:operation soapAction="http://tempuri.org/GetCategorys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBrand">
      <soap:operation soapAction="http://tempuri.org/InsertBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertColor">
      <soap:operation soapAction="http://tempuri.org/InsertColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCategory">
      <soap:operation soapAction="http://tempuri.org/InsertCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdById">
      <soap:operation soapAction="http://tempuri.org/GetProdById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetColors">
      <soap12:operation soapAction="http://tempuri.org/GetColors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrands">
      <soap12:operation soapAction="http://tempuri.org/GetBrands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategorys">
      <soap12:operation soapAction="http://tempuri.org/GetCategorys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap12:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBrand">
      <soap12:operation soapAction="http://tempuri.org/InsertBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertColor">
      <soap12:operation soapAction="http://tempuri.org/InsertColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCategory">
      <soap12:operation soapAction="http://tempuri.org/InsertCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap12:operation soapAction="http://tempuri.org/GetAllProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdById">
      <soap12:operation soapAction="http://tempuri.org/GetProdById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:57964/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:57964/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>